.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.code {
  font-size: 180px;
  color: #7575E2;
  font-weight: 900;
  margin-bottom: 100px;
}

.text {
  font-style: italic;
  font-size: 28px;
  margin-bottom: 50px;
}

.toCatalog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  transform: scale(0.98);

  color: white;
  background-color: #7575E2;
  border-radius: 5px;
}
